#compiled output
/dist
/node_modules

#logs
logs
*.logs
npm-debug.log*

#OS
.DS_Store

#IDE - VSCode      !号表示不排除的文件
.vscode/*
!.vscode/*.code-snippets
!.vscode/setting.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# App
.env*
config/*.key
/uploads